<div *ngIf = "dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">Search car name</label>
    <input type="text" [(ngModel)] = "filterText" class="form-control" id="filterText" placeholder="Search car name">
  </div>

  <div *ngIf="filterText" class="alert alert-success">
    {{filterText}} aradınız
  </div>

<table *ngIf = "dataLoaded!=false" class="table">
    <thead> 
        <tr>
            <th>CarName</th>
            <th>ColorName</th>
            <th>BrandName</th>
            <th>CarName</th>
            <th>ModelYear</th>
            <th>DailyPrice</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr *ngFor = "let carDetail of carDetails | filterPipe : filterText">
        <td>{{carDetail.carName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.carName}}</td>
        <td>{{carDetail.modelYear}}</td>
        <td>{{carDetail.dailyPrice | currency}}</td>
        <td>{{carDetail.description}}</td>

    </tr>
</table>